PAYLOAD_SECRET=xxx
DATABASE_URL="postgresql://postgres:password@localhost:5434/nature-urbaine"
BACKEND_URL=http://localhost:3001
VITE_BACKEND_URL=http://localhost:3001

# Email configuration
TO_EMAIL=contact@nature-urbaine.fr
EMAIL_FROM=no-reply@nature-urbaine.fr
CONTACT_EMAIL_TO=contact@nature-urbaine.fr
CONTACT_EMAIL_FROM=no-reply@nature-urbaine.fr
CONTACT_EMAIL_FROM_NAME="Nature Urbaine"

# SMTP configuration
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
